html, body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 800px;
  min-width: 700px;
  padding: 0px 50px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.content {
}

button {
  font-size:80%;
  padding:0.5em;
}

pre {
  margin: 0;
}

.header pre {
  background: none !important;
  border: 0;
  margin-left: auto;
  margin-right: auto;
}

.instructor {
  margin: 1em 0;
  color:
}

.nav {
  text-align: center;
}

.extra {
  color: #aaa;
  margin: 0 1em;
}
.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

.posts {
  list-style-type:none;
margin:0;
padding:0;
}
.posts li {
  margin-bottom:1em;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.isupcoming {
  margin-bottom:20px;
  color:#999;
}

.classinfo {
  font-size:90%;
  font-weight:bold;
  color:#259;
}

.instructor {
  color:#259;
  font-weight:bold;
}

@keyframes ascii_in {
  from {
    transform: scale(0.5);
    opacity: 0.0;
  }
  to {
    transform: scale(1.0);
    opacity: 1.0;
  }
}

.lab-ascii {
  width: 40em;
  overflow: visible;
  transform-origin: 50% 100%;
  animation-name: ascii_in;
  animation-duration: .6s;
  animation-timing-function: cubic-bezier(.33,1.67,.72,1.01);
}
