---
layout: default
---


{% if page.upcoming %}
<div class="isupcoming">
    <h3>Upcoming</h3>
</div>
{% else %}
<div class="isupcoming">
    <h3>A Previous Event</h3>
</div>
{% endif %}


<h2>{{ page.title }}</h2>


<div class="content">
{{ content }}
</div>


{% if page.upcoming %}
<div class="classinfo">

{% if page.instructor %}
<div class="instructor">
instructor: {{ page.instructor }}
</div>
{% endif %}

<div id="class-date">
    <date title="{{ page.date | date_to_xmlschema }}">
        <span class="day">{{ page.class_date | date: '%d' }}</span>
        <span class="month"><abbr>{{ page.class_date | date: '%B' }}</abbr></span>
        <span class="year">{{ page.class_date | date: '%Y' }}</span>
        <div>
            <span class="start">{{ page.start }}</span>
            &mdash;
            <span class="start">{{ page.end }}</span>
        </div>
    </date>
</div>
<div>
    {{ page.location }}
</div>

<br />

<div id="fee-list">
    {% for fee in page.fee_list %}
    <div>{{ fee[0] }} - {{ fee[1] }}</div>
    {% endfor %}
</div>

</div>
<br />

<div>
    <a href="{{page.registration_url}}" style="cursor:pointer;">
        <button id="register" style="cursor:pointer">Register</button>
    </a>
</div>

{% else %}





<br />

<a href="mailto:hello@pollenjam.com?subject=I'd like to take {{ page.title }}">
    Request this class again
</a>

{% endif %}


<!--
<br />
<div id="ask">
    <a id="ask-anything" href="mailto:hello@pollenjam.com?subject=Question about the {{ page.title }} class">Ask us anything about this class</a>
    <div class="buttons"></div>
</div>
-->


<br />